<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Document
    link(rel="stylesheet", href="../style/main.css")
  body
    .test1
      p test1
    .test2
      p test2
    .test3
      p test3
    .test4
      p test4
